<div class="container">
  <h2>Add a Tag to <%= @plant.name %></h2>
  <%= simple_form_for [@plant, @plant_tag] do |f| %>
    <%= f.association :tag %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end  %>
</div>
